@import 'variables';

@mixin base-input-style {
  border-radius: 0;
  box-shadow: none;
  font-size: $font-base;
  background: $color-grey-light;
  border: 0;
  transition: 0.3s;
  color: $color-white;
  &:focus {
    color: $color-white;
    border: 0;
    box-shadow: none;
    background-color: $color-grey-lighter;
  }
  &::-moz-placeholder {
    color: $color-grey-lightest;
    opacity: 1;
  }
  &::placeholder {
    color: $color-grey-lightest;
    opacity: 1;
  }
}
