$color-primary: #DA0037;
$color-primary-accent: #E33863;
$color-white: #EDEDED;
$color-grey-dark: #010101;
$color-grey: #111111;
$color-grey-light: #212121;
$color-grey-lighter: #313131;
$color-grey-lightest: #616161;
$color-error: #ff3333;
$color-success: #4bb543;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-base: 1rem;
$font-md: 1.125rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;
$font-xxl: 2rem;

$font-normal: 400;
$font-bold: 700;

$border-radius-base: 0.5rem;
