$color-primary: #18d26e;
$color-primary-accent: #15bb62;
$color-white: #fff;
$color-dark: rgba(0, 0, 0, 0.9);
$color-dark-accent: rgba(255, 255, 255, 0.1);

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
